.call-to-action-section {
  background-color: #0c0633;
  color: #ffffff;
  padding: 40px 0px;
}

.spec-section {
  padding: 60px 0 30px 0;
}

.img-fluid {
  width: 550px;
  height: 350px;
  border-radius: 1rem;
}

.spec {
  list-style: none;
  padding-left: 30px;
}

.spec li {
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.spec li ::before {
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 2rem;
  content: "\f058";
  position: absolute;
  left: -50px;
  // margin-top: 2px;
  color: #8b62ff;
}

.lead {
  margin-top: 0;
  padding-top: 0;
}

.band-logo-size {
  width: 350px;
  height: 120px;
  padding: 20px 0;
}

.band-name {
  background-color: #0c0633;
  text-align: center;
  padding: 20px 0;
}
.band-call-section {
  background-color: #0c0633;
  color: #ffffff;
  padding: 20px 0px;
}

.lead-price {
  font-size: 60px;
}
.text-muted {
  font-size: normal;
}

.price-flex {
  display: flex;
  align-items: baseline;
  align-self: center;
  align-items: baseline;
}

.list-unstyled li {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.list-unstyled li::before {
  position: relative;
  font-family: "FontAwesome";
  font-weight: 900;
  left: -15px;
  top: 6px;
  font-size: 2rem;
  content: "\f058";
  color: #8b62ff;
}

.card-button {
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
}
